<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.dc297.mqttclpro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SubscribeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SubscribeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.dc297.mqttclpro.SubscribeActivity" />
        </activity>

        <service
            android:name=".MQTTService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message"
            android:parentActivityName=".SubscribeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.dc297.mqttclpro.SubscribeActivity" />
        </activity>
    </application>

</manifest>
